<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Full name:</b>
  <%= @user.first_name << ' ' << @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<br />

<% if @user == current_user %>
	<%= link_to 'Edit information', edit_user_path(@user), class: 'btn' %> <%= link_to 'Delete profile', user_path(@user), confirm: "Are you sure you want to delete your profile? There's no going back!", method: :delete, class: 'btn btn-danger' %>
<% end %>


<br />
<hr />


<%= render "posts/recent" %>
