<% if @post.published || (current_user && @post.user_id == current_user.id) %>
	  <h2><%= @post.title %></h2>

	<p><%= @post.content %></p>

	<%= '(not published)' unless @post.published %>

	<p>
		<b>By <%= link_to @post.author.username, @post.author %></b>
	</p>

	<% if current_user && current_user.id == @post.user_id %>
		<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete', post_path(@post), confirm: "Are you sure you want to delete this post?", method: :delete %>
	<% end %>

	<p>
		<%= render 'brohooves/brohoof_content' %>
	</p>

	<hr />

	<h3>Comments</h3>
	<% if @post.comments.any? %>
		<%= render @post.comments %>
	<% else %>
		No comments :(
	<% end %>

	<br />
	<br />
	<% if current_user %>
		<%= render 'comments/form' %>
	<% else %>
		Sign in to write a comment ~
	<% end %>

<% else %>
	<h4>
		This post has yet to be published!
	</h4>
<% end %>

<br />