<% if @post.published || (current_user && @post.user_id == current_user.id) %>
	<p>
	  <b>Title:</b>
	  <%= @post.title %>
	</p>

	<p>
	  <b>Content:</b>
	  <%= @post.content %>
	</p>

	<p>
	  <b>Published:</b>
	  <%= @post.published %>
	</p>

	<% if current_user && current_user.id = @post.user_id %>
		<%= link_to 'Edit', edit_post_path(@post) %> | 
	<% end %>
<% else %>
	<h4>
		This post has yet to be published!
	</h4>
<% end %>

<%= link_to 'All posts', posts_path %>