<h1>Listing brohooves</h1>

<table>
  <tr>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brohooves.each do |brohoof| %>
  <tr>
    <td><%= brohoof.user_id %></td>
    <td><%= brohoof.post_id %></td>
    <td><%= link_to 'Show', brohoof %></td>
    <td><%= link_to 'Edit', edit_brohoof_path(brohoof) %></td>
    <td><%= link_to 'Destroy', brohoof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brohoof', new_brohoof_path %>
