<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @brohoof.user_id %>
</p>

<p>
  <b>Post:</b>
  <%= @brohoof.post_id %>
</p>


<%= link_to 'Edit', edit_brohoof_path(@brohoof) %> |
<%= link_to 'Back', brohooves_path %>
